---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%2522hoard%2520of%2522&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="7664f64aebb19b599d4a2d3c8267b5ec",
        oauth_signature="abn6oVbfsU8NoEkzrtY%2F%2FX4di2E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1445695681", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 24 Oct 2015 14:08:01 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - a80de894c1378e9052c1fcce2a71412f
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1445695722'
      X-Response-Time:
      - '340'
      X-Transaction:
      - 5f6233fdb81a7e5f
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Sat
        Oct 24 13:48:08 +0000 2015","id":657916485667573760,"id_str":"657916485667573760","text":"On
        my way to work at 9am I passed a liquor store with a hoard of blacks waiting
        outside for it to open.at least they have to pay a sales tax","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3433749515,"id_str":"3433749515","name":"WhiteFront","screen_name":"WhiteFront14","location":"The
        South","description":"A Friendly White Gentleman","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":357,"friends_count":279,"listed_count":2,"created_at":"Fri
        Aug 21 03:06:50 +0000 2015","favourites_count":568,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":1479,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/635871710433050624\/LbckeADE_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/635871710433050624\/LbckeADE_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3433749515\/1440905636","profile_link_color":"000000","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Sat
        Oct 24 13:44:49 +0000 2015","id":657915651500015616,"id_str":"657915651500015616","text":"WE
        HAVE A LITERAL HOARD OF TAKEOUT CUTLERY. @tachibangin I BET DORKMATES ALSO
        HAVE THIS https:\/\/t.co\/jbcHYIDRnn","source":"\u003ca href=\"http:\/\/twitter.com\/download\/android\"
        rel=\"nofollow\"\u003eTwitter for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_[...]
