---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%2522hoard%2520of%2522&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="b9067e86301b1ca604d93b18efe78f9d",
        oauth_signature="jZTalH4%2BTjXE6GrBwuokiD%2B0T5U%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1444682392", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 12 Oct 2015 20:39:52 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 2d3002d4f3a14e5000a67511a2f47a29
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1444683291'
      X-Response-Time:
      - '350'
      X-Transaction:
      - 6d7e2534ef07b663
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Mon
        Oct 12 20:36:36 +0000 2015","id":653670626037731328,"id_str":"653670626037731328","text":"Weak
        spots? Dude have you not seen that hoard of walkers? You''ll need more than
        DIY to fix this. Rick is the only way #TheWalkingDeadUK","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1867178216,"id_str":"1867178216","name":"Geek
        Mind","screen_name":"GeekMindUK","location":"London, England","description":"A
        blog writer. A sci-fi geek. A lover of Film, TV and gadgets. A human being.
        Nuff said!","url":"http:\/\/t.co\/UB7M9QBlAm","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/UB7M9QBlAm","expanded_url":"http:\/\/confessionsfromageekmind.wordpress.com","display_url":"confessionsfromageekmind.wordpress.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":210,"friends_count":714,"listed_count":3,"created_at":"Sun
        Sep 15 10:17:16 +0000 2013","favourites_count":1526,"utc_offset":3600,"time_zone":"London","geo_enabled":false,"verified":false,"statuses_count":2519,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"131516","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000176784395\/UvBAM_yW.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000176784395\/UvBAM_yW.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000460521439\/30517f515794bc22ae6bd36253bb20f8_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000460521439\/30517f515794bc22ae6bd36253bb20f8_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1867178216\/1399409184","profile_link_color":"2B3DAD","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"C0DFEC","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":2,"entities":{"hashtags":[{"text":"TheWalkingDeadUK","indices":[118,135]}],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Mon
        Oct 12 20:29:41 +0000 2015","id":653668886248820736,"id_str":"653668886248820736","text":"With
        that massive hoard of walkers Im suprised David Attenborough isnt narrating.\n\n#TheWalkingDead
        #TheWalkingDeadSeason6  #TheWalkingDeadUK","source":"\u003ca href=\"http:\/\/twitter.com\/download\/android\"
        rel=\"nofollow\"\u003eTwitter for Android\u003c\/a\u003e","truncated[...]
